

.container {

	margin-top: 20px;
	background-color: #FFF;
	padding: 60px;

}


body{
	background-color: #F4F4F4!important;
}

.breadcrumb{

	background-color: black;

}

.img-responsive {
	width: 100%;
}


@media only screen and (max-width: 768px) {
	
	.margintop {
		margin-top: 1rem;
	}
	
}




hr {
  border: 0!important;
  clear:both!important;
  display:block;
  width: 96%;               
  background-color:#D3D0D0!important;
  height: 2px!important;
}

li{
	font-family: sans-serif;
	font-weight: bold;
}

.breadcrumbs{
    height: 100px;
    text-align:center;
    line-height:50px;
}

.form-inline .form-group { margin-right:10px; }
.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }



input[type=radio]:checked + label {
    color: red;
    font-weight: bold;
}
/*
.samcolor {
	background-color: black!important;
}
*/

nav ol{
	background-color: #840404!important;
	/*height: 30px!important;*/
	padding: 5px 10px 5px 10px!important; 
	/*margin-bottom:;*/
}



nav li{

	color: white!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none!important; 
  margin: 0; 
}


.margin-0 {
	margin-bottom: 0px!important;
}
